extends includes/default.pug

block content
    main.v-center
        div.card
            p.tagline A doggy app for humans
            p(style='font-size: 1.2rem;') #[span.fw-800 PetStat] #[span.fw-600 is coming soon]

block footer
    span &copy; 2020-2021 #[a(href='https://coryg.dev') Cory G]
