head
    meta(charset='utf-8')
    title PetStat - A doggy app for humans
    meta(name='description' content='A doggy app for humans')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="theme-color" content='#7451ba')
    link(rel='stylesheet' href='/styles/main.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(
        href='https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;600;800&family=Rubik:wght@800&display=swap'
        rel='stylesheet'
    )
