// Variables
$petstat-purple: #7451ba;
$card-bg: rgba(255, 255, 255, 0.87);
$card-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.37);
$body-color: rgba(0, 0, 0, 0.87);

.v-center {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

body {
    background-color: $petstat-purple;
    font-family: 'Inconsolata', monospace;
    color: $body-color;
    padding: 0;
    margin: 0;
}

main {
    height: 90vh;

    .card {
        text-align: center;
        background: $card-bg;
        padding: 40px 80px;
        overflow: auto;
        border-radius: 16px;
        box-shadow: $card-shadow;
    }
}

footer {
    height: 10vh;
    color: $card-bg;
    background-color: rgba(255, 255, 255, 0.1);
}

a {
    color: $card-bg;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}

$weights: (300, 600, 800);

@each $n in $weights {
    .fw-#{$n} {
        font-weight: $n;
    }    
}

.tagline {
    font-size: 110%;
    padding-bottom: 16px;
}
