body {
    font-family: sans-serif;
    background-color: #7451ba;
}

main {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

main {
    .card {
        text-align: center;
        background: rgba(255, 255, 255, 0.87);
        color: rgba(0, 0, 0, 0.87);
        padding: 40px 80px;
        overflow: auto;
        border-radius: 16px;
        box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.37);
    }
}

.ps-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
}

.ps-body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.ps-tagline {
    font-style: italic;
    font-weight: 300;
    padding-bottom: 16px;
}
